.landing-container {
    width: 100vw;
    height: auto;
    padding: 5px 0;
    background-image: url("https://p0.pikist.com/photos/492/265/snow-body-of-water-lake-mountain-widescreen.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.title {
    font-size: 3em;
}